# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ruff_cache/

# Django
django/static-vite/
django/staticfiles/
django/.env

# Node
node_modules/
react/node_modules/
react/dist/

# OS
.DS_Store
*.swp
*.swo

# IDE
.idea/
*.sublime-*

# Environment
.env
