<h3>Edit tag: {{ tag.title }}</h3>
<form method="POST" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-1 control-label">Title</label>
    <div class="col-sm-4">
      <input type="text" name="title" class="form-control" value="{{ tag.title }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <div class="checkbox"><label><input type="checkbox" name="show_in_jc" {% if tag.show_in_jc %}checked{% endif %}> Show in JC</label></div>
      <div class="checkbox"><label><input type="checkbox" name="show_in_attendance" {% if tag.show_in_attendance %}checked{% endif %}> Show in attendance</label></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <input type="submit" class="btn btn-primary" value="Save">
      <a href="/viewTag/{{ tag.id }}" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
